{% load static %}

<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">

</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static "img/jd.png" %}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">My Blog</h2>
              <p class="card-text">Welcome to Junaid Mahmud's Blog</p>
              <a href="https://www.linkedin.com/in/junaid-mahmud/" target="_blank" class="btn btn-primary">LinkedIn</a>
            </div>
          </div>
        
    </div>


</body>
</html>